

.jumbotron {
    background-image: url("../images/Polygon-Luminary.svg");
    background-size: cover;
    height: 80%;
    background-position: 0 100%
}

.container h1, p{
    color:white;
    }

.container > .card {
    display: flex;
    justify-content: center
}

#FirstProject {
    width: 100% !important;
}