.jumbotron {
    background-image: url("../images/Polygon-Luminary.svg");
    background-size: cover;
    height: 80%;
    background-position: 0 100%
}

.jumbotron > .container p, h1 {
    color: white;
}


#FirstProject {
    display: flex;
    justify-content: center;
    width: 100% !important;
}

aside {
    border-right: thin inset black;
}

footer {
    margin-top: 2%;
}

.card {
    display: flex;
    justify-content: center;
    width: 36% !important;
}